@font-face {
    font-family: "TT Runs Trial Bold";
    src: url("./fonts/TT Runs Trial Bold.otf") format("opentype");
}

@font-face {
    font-family: "FirsNeue";
    src: url("./fonts/TTFirsNeue-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Ramillas Italic";
    src: url("./fonts/TT Ramillas Trial ExtraLight Italic.ttf") format("opentype");
}

* {
    /*cursor: url(./icons/cursor.png) 8 8, auto !important;*/
}

body, html {
    font-family: 'FirsNeue', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 0 20px;
}

.item {
    width: 100%;
    transition: flex-grow .8s cubic-bezier(.57,.07,.34,.93);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.label-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.label-wrapper p {
    color: black;
    margin: 0;
    padding: 10px 0 7px 0;
    transition: color .8s;
}

.label-wrapper .arrow {
    height: 18px;
    width: auto;
    margin: 2px 5px 0 -23px;
    transition: margin-left .5s, transform .8s;
}

.label-wrapper:hover .arrow {
    margin-left: 0;
}

.item.active .label-wrapper .arrow {
    margin-left: 0;
    transform: rotateZ(90deg);
}

.item.active {
    flex-grow: 100;
}

.content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 0;
    border-bottom: 1px solid black;
    flex-grow: 1;
    overflow: hidden;
}

.projects::-webkit-scrollbar {
    display: none;
}

.projects {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project {
    width: calc((100% - 20px)/ 2);
    height: fit-content;
    position: relative;
    cursor: pointer;
}

.cover-info {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    box-sizing: border-box;
}

.cover-info h2 {
    font-weight: normal;
    margin: 0 0 4px 0;
}

.cover-info p {
    padding: 0;
    font-family: "Ramillas Italic", sans-serif;
    font-size: 14px;
}

.cover-wrapper {
    width: 0;
    overflow: hidden;
    transition: width .7s;
    display: flex;
    justify-content: center;
    margin: 0 auto 0 0;
}

.cover-wrapper img {
    z-index: 5;
    height: auto;
}

.cover-animation {
    width: 100%;
    margin: 0 0 0 auto;
}

.project:hover .cover-wrapper {
    margin: 0 auto 0 0;
    width: 0;
}

.content-bordered {
    border: 1px solid black;
}

.item.active .content {
    flex-grow: 100;
}

.marquee {
    font-family: "Ramillas Italic", sans-serif;
    width: 100%;
    font-size: 40px;
    display: flex;
    flex-wrap: nowrap;
}

.marquee h2 {
    font-weight: normal;
    white-space: nowrap;
    margin: 0;
}

.action {
    animation: marquee 7s linear infinite;
}

.marquee:hover .action {
    animation-play-state: paused;
}

.design {
    color: #FF7ACA;
}

.creative {
    color: #39C2BA
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.d-none {
    display: none;
}

@media (max-device-width: 800px) {
    .project {
        width: calc(100% - 20px);
    }

    .label-wrapper > p {
        font-size: 36px;
    }

    .cover-info h2 {
        font-size: 54px;
    }

    .cover-info p {
        font-size: 28px;
    }
}
